<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDtxIEIY6hK2CoW7AoCUvVm-WZAHnSNcoM</string>
	<key>GCM_SENDER_ID</key>
	<string>659540110952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseWithGetxTodo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pushnot-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnot-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659540110952:ios:83e5eec111ca32ab31d5dd</string>
</dict>
</plist>